.login_background {
  height: 100vh;
  background-image: url("../../../assets/images/background/login.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.login_form {
  height: 100vh;
}
.login_form h2 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}
.login_form input {
  width: 350px;
  height: 50px;
  padding: 22px;
  color: #ccc;
  font-size: 25px;
  font-weight: 500;
  line-height: 32px;
  background: #FFFFFF;
  border: 2px solid #CECECE;
  box-sizing: border-box;
}
.login_form input:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.1);
}
.login_form ::-webkit-input-placeholder {
  color: #ccc;
}
.login_form button {
  width: 175px;
  border: 1px solid #0086FF;
  box-sizing: border-box;
}
.login_form .forgot_password a {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
.login_form .login_social h2 {
  font-size: 25px;
  text-align: center;
}
.login_form .login_social ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}
.login_form .login_social ul li {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 4px;
}
.login_form .login_social p {
  font-family: IBM Plex Sans;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000;
}
.login_form .login_social p a {
  color: #000;
  text-decoration: none;
}

@media (max-width: 350px) {
  input {
    width: 100% !important;
  }
}
.main_register {
  height: 100vh;
}
.main_register h2 {
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #000;
}
.main_register .register_social_media button {
  width: 357px;
  height: 78px;
  background: linear-gradient(180deg, #0086FF 0%, rgba(255, 255, 255, 0) 100%), #005EB3;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}
.main_register .register_social_media button img {
  margin-right: 22px;
  width: 50px;
  height: 50px;
}
.main_register span {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000;
}
.main_register form input {
  width: 357px;
  height: 50px;
  margin: 0 auto;
  background: #FFFFFF;
  border: 1px solid #CECECE;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
}
.main_register form ::-webkit-input-placeholder {
  color: #A4A4A4;
}
.main_register form button {
  width: 357px;
  height: 50px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}
.main_register form p {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}
.main_register form p a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 390px) {
  button:not(.navbar-toggler) {
    width: 100% !important;
  }
  button:not(.navbar-toggler) img {
    display: none;
  }
}
.main_navbar a {
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  color: #005EB3;
}
.main_navbar .navbar_buttons button {
  width: 268px;
  height: 62px;
  border: 2px solid;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.main_account .main_navsidebar {
  background: #F4F4F4;
  position: relative;
}
.main_account .main_navsidebar ul {
  position: absolute;
  width: 102%;
  left: 0;
}
.main_account .main_navsidebar ul li {
  height: 50px;
  background: #005EB3;
  margin-bottom: 25px;
}
.main_account .main_navsidebar ul li:first-child {
  background: #FF9E00;
}
.main_account .main_navsidebar ul li a {
  padding: 12px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}
.main_account .main_navsidebar_mobile {
  position: fixed;
  top: 5px;
}
.main_account .main_navsidebar_mobile .collapse.navbar-collapse {
  background: #F4F4F4;
  text-align: left;
  padding: 10px 20px;
}
.main_account .main_navsidebar_mobile .collapse.navbar-collapse a {
  padding: 10px 15px;
}
.main_account .main_navsidebar_mobile .collapse.navbar-collapse a:first-child {
  background: #FF9E00;
  color: #fff;
}
.main_account .my_account {
  background: #F4F4F4;
}
.main_account .my_account h3 {
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;
  color: #000;
  margin: 0;
}
.main_account .my_account span {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #000;
}
.main_account .my_account label {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000;
  vertical-align: -webkit-baseline-middle;
}
.main_account .my_account label.form-check-label {
  margin-left: 6px;
}
.main_account .my_account input[type=text],
.main_account .my_account input[type=number],
.main_account .my_account input[type=tel],
.main_account .my_account input[type=email],
.main_account .my_account input[type=password] {
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #CECECE;
  border-radius: 10px;
  margin-bottom: 16px;
}
.main_account .my_account input[type=radio] {
  width: 30px !important;
  height: 30px;
  background: #FFFFFF;
  border: 2px solid #CECECE;
  margin-bottom: 16px;
}
.main_account .my_account button {
  width: 357px;
  height: 50px;
  border: 1px solid #000000;
}
.main_account .my_account .account_delete {
  background: #fff;
}
.main_account .my_account .account_delete p {
  font-size: 18px;
  line-height: 23px;
}
.main_account .my_account .account_delete p:last-child {
  font-size: 16px;
  line-height: 21px;
}
.main_account .my_account .account_delete a {
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  color: #000AFF;
}

*, *:before, *:after, *:hover, *:focus {
  outline: none !important;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

/*# sourceMappingURL=app.css.map */
